
<%- include("partials/header") -%>

<h1><%= pageTitle %></h1>
<p><%= pageContent %></p>

<% posts.forEach((post) => {  %>
    <h1><%= post.title %></h1>
    <p><%= post.content.substring(0,100) + "..." %>
      <a href="/posts/<%=post.title%>">Read More</a>
    </p>
<% }); %>

<form action="/compose" method="get">
  <button type="submit" class="btn-compose btn btn-dark">Compose</button>
</form>


<%- include("partials/footer") -%>
